body {
    margin: 0 auto;
    width: 800px;
    padding: 0;
    background: #0c0000 url('../imghw/back_all.jpg') repeat-y top;
    font-family: Arial, sans-serif;
    font-size: 62.5%
}

p {
    font-size: 1.4em;
    line-height: 1.4em;

}



#title {

    color: #fff;
    float: right;
    height: 100px;
    margin: 0px 20px 0px 00px;
}

#title h1 {
    float: right;
    margin: 10px 0px 0 0;
    font-size: 3.5em;
}

#title p {
    float: right;
    margin: 10px 0px 0 500px;
    font-size: 0.1em;

}

#header {

    text-align: center;
    font-size: 1.4em;
    margin: 0px 0px 00px 0px;
    word-spacing: 40px;
    background: linear-gradient(#d82b00, #772810, rgb(255, 95, 15));
    border: 2px solid #fff;
    border-radius: 10px;


}

#header li {
    display: inline;
    font-size: 2em;
    color: #fff;
    margin: 0px 0px 0px 00px;

}

#artical {
    clear: both;
    margin: 20px 0 0 0;
    padding: 10px;
    width: 800px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #171717;
}

#main {
    color: #fff;
    background-color: #d34905;
    border-radius: 10px;
    line-height: 2em;
}