header {
	color: #fff;
}

article {
	background-color: rgb(135, 215, 255);

}

#list {
	background: linear-gradient(#1ac7f3 50%, #0b84a2);
	color: #fff;
	text-decoration: none;
	word-spacing: 60px;
}


#three {
	background-color: #fff;

}

h1,
h2,
h3 {
	color: #1ac7f3;

}

#content {
	border-color: 20px solid #005b72;
	background-color: rgb(207, 255, 255);
}

#content ul li {
	list-style-type: none;
	color: black;

}

#content img{

	border-color: 3px solid #005b72;
}

#sidebar {
	border-color: 20px solid #005b72;
	background-color: rgb(207, 255, 255);
}

#under {
	background-color: #fff;
}

#under li {

	list-style-type: none;
}

footer {
	color: #fff;
	background: linear-gradient(#1ac7f3 50%, #0b84a2);
	border-top: 8px solid #005b72;
}